p,
.col {
  font-size: 25px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 60px;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.float-left {
  float: left;
  margin-left: 25px;
  height: 350px;
  width: 19%;
  padding: 10px;
  padding-right: 35px;
  flex-wrap: wrap;
}

.hero {
  height: 450px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./coding\ pic.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
}

header {
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(28, 28, 68);
}

header h1 {
  display: inline-block;
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(101, 101, 134);
}

header nav {
  padding-top: 15px;
  margin-right: 15px;
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

h2 {
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;
  padding-left: 4%;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 5px;
}

#explore-mars,
#planner,
#horiseon,
#community-sidekicks,
#read-me,
#pet-fetch {
  width: 400px;
  height: 300px;
}

#contact-icon {
  width: 100px;
  height: 100px;
}

div {
  column-gap: 10px;
}
